// COLORS
$primary-color: #1f4037;
$secondary-color: #99f2c8;

$white-color: #ffffff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #2b3853; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
